In [1]:
import sys
sys.path.append("../SourceCode")

In [2]:
from dataManagement import DatabaseManagement

API KEY: 7TvgfyF7r_J6E4OWLhwkDYDKnkTjzwPL
/Users/charlotte/UofT/blockchainbot/SourceCode

In [3]:
db = DatabaseManagement()

In [10]:
for i in range(6):
    df = db.ohlc_update('BTCUSD',update=True)
    print(f"Calls made: {i+1}")

Calls made: 1
Calls made: 2
Calls made: 3
Calls made: 4
Calls made: 5
Calls made: 6

In [5]:
db.ohlc_update("ETHUSD")

           date     open     high         low    close         volume
0    2020-10-10   365.35   380.81   364.65000   370.75  517169.088269
1    2020-10-11   371.15   378.00   368.89400   374.61  219975.979236
2    2020-10-12   374.38   395.81   364.95600   387.00  553490.389576
3    2020-10-13   387.39   388.31   374.10000   381.37  491870.404718
4    2020-10-14   381.74   388.47   372.82500   379.08  442147.054015
..          ...      ...      ...         ...      ...            ...
725  2022-10-05  1362.10  1365.00  1316.20000  1352.48  374141.460202
726  2022-10-06  1352.37  1390.20  1345.00000  1352.24  510913.126111
727  2022-10-07  1352.18  1362.14  1317.14808  1331.00  341770.659790
728  2022-10-08  1331.12  1337.70  1303.60000  1315.71  101418.347412
729  2022-10-09  1315.26  1329.33  1307.21000  1323.41  116675.842467

[730 rows x 6 columns]

In [ ]:
db.ticker_universe #property object not a function so please do not call () it...